<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body >

	
    <div >
        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                <% if (cartItems.length > 0) { %>
                    <% cartItems.forEach(item => { %>
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="<%= item.imageUrl %>" alt="IMG"> <!-- Adjust the image source based on your product structure -->
                            </div>
        
                            <div class="header-cart-item-txt p-t-8">
                                <form action="/cart/update" method="POST" class="update-cart-form">
                                    <input type="hidden" name="productId" value="<%= item.productId %>">
                                    
                                    <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                        <%= item.category %> - <%= item.name %>
                                    </a>
        
                                    <div class="header-cart-item-info m-b-8">
                                        <!-- Editable quantity -->
                                        <label for="quantity-<%= item.productId %>">Quantity:</label>
                                        <input type="number" id="quantity-<%= item.productId %>" name="quantity" value="<%= item.quantity %>" min="1" class="input-quantity">
        
                                        <!-- Editable color, if available -->
                                        <% if (item.availableColors && item.availableColors.length > 0) { %>
                                            <label for="color-<%= item.productId %>">Color:</label>
                                            <select id="color-<%= item.productId %>" name="color" class="input-color">
                                                <% item.availableColors.forEach(color => { %>
                                                    <option value="<%= color %>" <%= item.color === color ? 'selected' : '' %>><%= color %></option>
                                                <% }) %>
                                            </select>
                                        <% } %>
        
                                        <!-- Editable size, if available -->
                                        <% if (item.availableSizes && item.availableSizes.length > 0) { %>
                                            <label for="size-<%= item.productId %>">Size:</label>
                                            <select id="size-<%= item.productId %>" name="size" class="input-size">
                                                <% item.availableSizes.forEach(size => { %>
                                                    <option value="<%= size %>" <%= item.size === size ? 'selected' : '' %>><%= size %></option>
                                                <% }) %>
                                            </select>
                                        <% } %>
                                    </div>
        
                                    <div class="header-cart-item-total">
                                        Price: R <%= (item.price * item.quantity).toFixed(2) %>
                                    </div>
        
                                    <!-- Update and Remove buttons -->
                                    <div class="header-cart-item-actions m-t-10">
                                        <button type="submit" class="btn-update">Update</button>
                                        <a href="/cart/remove/<%= item.productId %>" class="btn-remove">Remove</a>
                                    </div>
                                </form>
                            </div>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-txt p-t-8">
                            <span class="header-cart-item-info">
                                Your cart is empty.
                            </span>
                        </div>
                    </li>
                <% } %>
            </ul>
        
            <!-- Cart Summary on the right side -->
            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Total: R <%= total.toFixed(2) %> <!-- Display the total formatted to two decimal places -->
                </div>
        
                <div class="header-cart-buttons flex-w w-full">
                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>
        
                    <a href="checkout.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>
            </div>
        </div>
        
    </div>
	

		




	


</body>
</html>